
html, body{
	margin: 20;
	padding: 20;
	font-family: "Helvetica", sans-serif;
	font-size: 14pt;
	background-color:#ccefff;
	line-height: 1.5;
}






hr{
  border-top: 10px solid #000066;
}


h2 {
	color: #000066;
	font-family: arial; 

	margin-top:40px;

}

hr{
 line-height:0px;
 text-align: justify;
 text-justify: inter-word;
 padding: 5px;

}

	

